version: '3'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: laravel-city-api
    container_name: city-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - city-network

  nginx:
    image: nginx:alpine
    container_name: city-nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www
      - ./docker/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - city-network

networks:
  city-network:
    driver: bridge
